@using Essayin.Data

<hr />

<h4>Hasil Kuis</h4>

@if (QuizResult.Count == 0)
{
    <p>Belum ada siswa yang mengerjakan kuis</p>
}

@foreach (var result in QuizResult)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@result.StudentName</h5>
            <h6 class="card-subtitle mb-2 text-muted">Skor : @result.Score</h6>
        </div>
    </div>
}


@code {
    [Parameter]
    public List<QuizResults> QuizResult { get; set; }

    protected override void OnInitialized()
    {

    }

}
