
<h5 class="card-title">Pertanyaan @Nomor dari @TotalPertanyaan</h5>
<p class="card-text">@Pertanyaan</p>

@code {
    [Parameter]
    public int Nomor { get; set; }

    [Parameter]
    public string Pertanyaan { get; set; }

    [Parameter]
    public int TotalPertanyaan { get; set; }

}
